/*
| -------------------------------------------------------------------------
| Name 		: ;
| Email		: ;
| -------------------------------------------------------------------------
*/
.bg-blue {
	background-color: #2a66a2 !important;
}
.box {
	min-height: 390px;
}
.box-none {
	border-top-color: transparent;
}
#box-filter {
	border-bottom: 1px solid #f9f9f9;
	background-color: #f4f4f4;
}
.btn-filter {
	font-size: 12px; 
	line-height: 1.5; 
	padding: 5px 15px;
	border: 1px solid #367fa9;
	background-color: #3c8dbc;
	border-radius: 3px;
	color: #ffffff;
}
.btn-filter:hover, .btn-filter:focus, .btn-filter:visited {
	color: #ffffff;
}
.icon-action li:after {
	content: '.';
	margin-right: 0px;
	margin-left: 15px;
}
.icon-action li:last-child:after {
	content: '';
}
.name-list {
	height: 20px;
	overflow: hidden;
}
.title-list {
	max-height: 60px;
	overflow: hidden;
}
.wrapper-submit {
	margin-bottom: 20px;
}
.tab-content {
	min-height: 500px;
}
.general .note-editing-area {
	min-height: 400px;
}
.help-block {
	margin-bottom: 0;
}
.pad-5 {
	padding: 5px;
}
.invoice {
	margin: 10px 15px;
}
.form-control-static {
	padding-top: 0;
}
.label-default {
	background-color: #777777;
	color: #ffffff;
}
.thumbnail {
	border-radius: 0;
}
.msg-404 {
	text-align: center;
}
.msg-404 span {
	font-weight: bold;
	color: #444;
	font-size: 50px;
}
#list-mail a {
	color: #333;
}