/*
| -------------------------------------------------------------------------
| Name 		: ;
| Email		: ;
| -------------------------------------------------------------------------
*/
.bg-blue {
	background-color: #2a66a2 !important;
}